name: Build and test project

on:
  push:
    branches: 
      - master
      - dev
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Step 1 -- Checkout 
      uses: actions/checkout@v3
    - name: Step 2 -- Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'zulu'
        cache: maven
    - name: Step 3 -- Build with Maven
      run: mvn -B package --file pom.xml
